# Dependencies
node_modules/

# Build output
build/
dist/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.*.local

# Local files
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional cache directories
.cache/
.parcel-cache/

# Mac OS system file
.DS_Store

# npm / yarn lock files (optional)
# If you want to ignore lock files, uncomment below:
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
