@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@plugin "daisyui";
.scrollbar-none {
     scrollbar-width: none;
}
.scrollbar-thin {
     scrollbar-width: thin;
     scrollbar-color: gray #0e1217;
}
.bg-global {
     background-color: #0e1217;
}
.text-global {
     color: #a8b3cf;
}
