@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@plugin "daisyui";
.scrollbar-none {
     scrollbar-width: none;
}
.scrollbar-thin {
     scrollbar-width: thin;
     scrollbar-color: gray #0e1217;
}
@media screen and (min-width: 320px) {
     .ownGrid {
          grid-column: 1;
     }
}
